<!DOCTYPE html>
<html >
    <head>
        <title>Integrating AngularJS with NodeJS</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script> <!-- not created yet -->
        <script type="text/javascript" src="//www.amcharts.com/lib/3/amcharts.js"></script>
        <script type="text/javascript" src="//www.amcharts.com/lib/3/serial.js"></script>
        <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    </head>
    <body ng-app="app">

        <div data-ng-controller="myController" class="container">
        	<div id="chart" class="chart"></div>
        </div>
    </body>
</html>